@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button{
  border: 0;
  display: block;
  font-weight: 900;
  margin: 20px auto;
  border-radius: 10px;
}

.newBook {
  background-color: #4c80b4;
  color: #fff;
  padding: 10px 20px;
}

form {
  width: 400px;
  margin: 0 auto;
  border: 5px solid #000;
}

fieldset{
  border: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.add {
  padding: 5px 10px;
  background-color: #e3ded2;
}


.hidden {
  display: none;
}

.library {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin: 50px;
}

.book{
  border: 3px solid #000;
}

.book-image {
  padding: 10px;
}

.book-image img {
  display: block;
  margin: 20px auto;
  height: 300px;
}

.book-header {
  margin: 30px;
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
}

.book-content {
  width: 80%;
  margin: 10px 30px;
}

.book-content p {
  margin-top: 20px;
}

.book-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 30px;
}

.remove {
  background-color: #9b2f2f;
  color: #fff;
  padding: 10px 20px;
}







